body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  display: flex;

  padding: 1rem;

  align-items: center;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  gap: 1rem;

  align-items: center;

  font-weight: 600;
}

.adLogo {
  height: 2rem;
}

nav {
  display: flex;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  color: var(--tertiary-color);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

li {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  border-radius: 1rem;
  background-color: var(--background-color);
}

.column {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.tone {
  width: fit-content;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 0.5rem;
}

.title {
  color: var(--primary-color);
  font-weight: 600;
}

.chordLogo {
  margin-left: auto;
}

iframe {
  margin-left: auto;
}

@media (max-width: 800px) {
  section {
    width: 100%;
  }

  ul {
    align-items: center;
  }

  li {
    align-items: center;
    /* flex-direction: column;
    align-items: center; */
  }

  #player {
    max-width: 150px;
    height: 100%;
  }

  .calendar {
    width: 100%;
  }
}
